.logo {
  display: flex;
  cursor: pointer;
  font-size: 28px;
  gap: 5px;
}
.logo h1 {
  font-family: "Grandstander", cursive, sans-serif;
  font-style: italic;
  font-weight: 900;
  color: white;
  margin-top: 5px;
}
.logo span {
  font-size: 42px;
  color: #dbff00;
}
