.section {
  margin-bottom: 100px;
  color: #d8cef0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.introduction {
  margin-top: 40px;
  padding: 0 8vw;
  width: 80%;
  text-align: left;
  font-size: 28px;
  line-height: 38px;
}

.introduction p {
  font-family: "Poppins", sans-serif;
  font-weight: 350;
}

.overview {
  padding: 0 8vw;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: left;
}

.overview div h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 450;
  margin-bottom: 10px;
  font-size: 32px;
}

.overview div p,
.overview div ul li {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 350;
  font-size: 22px;
}

.getStarted {
  padding: 0 8vw;
  width: 80%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.getStarted h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 450;
  margin-bottom: 10px;
  font-size: 32px;
}

.getStarted p {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 350;
  font-size: 22px;
}

@media (max-width: 700px) {
  .introduction {
    font-size: 4vw;
  }
}

@media (max-width: 400px) {
  .introduction {
    font-size: 5vw;
    line-height: 28px;
    width: 87%;
  }
}
@media (max-width: 300px) {
  .introduction {
    font-size: 6vw;
  }
}
