.section {
  padding-top: 20px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: textAnimation 1s ease-in;
  margin: 70px 15vw;
  overflow: hidden;
}

.text {
  max-width: 900px;
  font-size: 3rem;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 1230px) {
  .text {
    margin-bottom: 10px;
  }
}

@media (max-width: 700px) {
  .text {
    font-size: 2rem;
    margin-bottom: 20px;
  }
}

@media (max-width: 510px) {
  .text {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  .section {
    margin-top: 20px;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes textAnimation {
  from {
    transform: translateX(-10px) translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateX(0px) translateX(0);
    opacity: 1;
  }
}
