.nav {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.backArrow {
  cursor: pointer;
  transform: translateY(13px);
  font-size: 22px;
}

.container {
  padding: 50px 10vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.empty {
  width: 100%;
  text-align: center;
  color: rgba(255, 252, 240, 0.196);
  font-size: clamp(16px, 3vw, 2em);
}
.empty p {
  font-style: italic;
}
.box {
  margin-left: 75px;
}

@media (max-width: 600px) {
  .empty {
    margin-top: 2em;
    margin-right: 2em;
  }
}
@media (max-width: 500px) {
  .backArrow {
    transform: translateY(10px);
    font-size: 20px;
  }
}
@media (max-width: 250px) {
  .backArrow {
    transform: translateY(8px);
    font-size: 16px;
  }
}
