.text {
  padding: 0 8vw;
  margin: 32px 0;
  text-align: left;
}
.text h2 {
  font-family: "Poppins", sans-serif;
  font-size: 10vw;
}
.text p {
  font-family: "Roboto", sans-serif;
  font-size: 3.5vw;
  width: 80%;
}
.text a {
  font-size: 2em;
}

.text .creator a {
  font-size: 3.5vw;
  text-decoration: none;
}
.creator {
  margin: 200px 0;
}
.creator h3 {
  font-size: 8vw;
  font-family: "SUSE", sans-serif;
  margin-bottom: 10px;
}

@media (max-width: 700px) {
  .btnStart {
    font-size: 18px;
  }
  .introduction {
    font-size: 4vw;
    line-height: normal;
  }
}
