@import url("https://fonts.cdnfonts.com/css/haettenschweiler");

.background {
  background-image: url("../public/images/Homebackground.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}
.section {
  padding-top: 20vh;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: textAnimation 1s ease-in;
}
.section h1 {
  background: linear-gradient(
    90deg,
    rgba(219, 255, 0, 1) 20%,
    rgb(255, 82, 34)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 7vw;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: rgb(0, 0, 0);
  font-family: "Haettenschweiler", sans-serif;
}
.section button {
  background-color: #e3bf00;
  margin-top: 20px;
  border: none;
  outline: 1px solid black;
  width: 15vw;
  font-size: 2vw;
  font-weight: 700;
  height: 6vw;
  border-radius: 200px;
  cursor: pointer;
  transform: translateX(-30px);
  transition: all 0.5s;
}
.section button:hover {
  background-color: rgb(255, 181, 34);
}

@media (max-width: 700px) {
  .section h1 {
    font-size: 10vw;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes textAnimation {
  from {
    transform: translateX(-10px) translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateX(0px) translateX(0);
    opacity: 1;
  }
}
