.introduction {
  padding: 0 8vw;
  margin: 32px 0;
  width: 80%;
  text-align: left;
  font-size: 28px;
  line-height: 38px;
  font-family: "SUSE", sans-serif;
}

.details {
  padding: 1vw 15vw;
  text-align: left;
  font-size: 22px;
  line-height: 26px;
  font-family: "SUSE", sans-serif;
  width: 50vw;
}
.details li {
  margin-bottom: 20px;
}
.heading {
  padding: 1vw 15vw;
  text-align: left;
  line-height: 32px;
  width: 50vw;
  font-family: "Roboto", sans-serif;
}
.btnStart {
  background-color: #e3bf00;
  border: none;
  outline: 1px solid black;
  width: 5vw;
  font-size: 1vw;
  font-weight: 700;
  height: 3vw;
  border-radius: 200px;
  cursor: pointer;
  transition: all 0.5s;
  margin: 50px 0;
  margin-bottom: 100px;
  min-width: 100px;
  min-height: 40px;
}
@media (max-width: 700px) {
  .btnStart {
    font-size: 18px;
  }
  .introduction {
    font-size: 4vw;
    line-height: normal;
  }
}
