.nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 10px 20px;
}

.backArrow {
  cursor: pointer;
  margin: 10px;
  font-size: 28px;
}

.navbar {
  background-color: #333;
  padding: 10px;
  color: white;
  text-align: center;
}

.container {
  padding: 50px 10vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section {
  background-color: #6262624f;
  border-radius: 18px;
  padding: 15px;
  width: 100%;
  overflow: scroll;
  overflow-y: hidden;
}

.section h2 {
  font-size: 2.5vw;
  margin: 10px;
  color: #000000;
}

.list {
  display: flex;
  gap: 20px;
}

.removeBtn {
  border-radius: 50%;
  background-color: red;
  font-weight: 900;
  cursor: pointer;
  position: relative;
  width: 25px;
  height: 25px;
}

.book img {
  height: 15vw;
  border-radius: 12px;
}

.book {
  display: flex;
  flex-direction: column;
}

@media (max-width: 630px) {
  .book img {
    height: 25vw;
  }
  .section h2 {
    font-size: 3.5vw;
  }
}
