.btnAdd {
  width: 100%;
  border-radius: 12px;
  border: none;
  font-size: 1em;
  height: 30px;
  background-color: rgb(113, 16, 118);
  color: #ffffff;
  cursor: pointer;
  transition: background-color 1s ease;
}
.btnAdd:hover {
  background-color: rgb(143, 53, 148);
}

.btnAdd:active {
  border: none;
  outline: none;
}
