@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.nav {
  display: flex;
  position: fixed;
  width: 100%;
  padding: 15px 20px;
  padding-bottom: 10px;
  justify-content: space-between;
  gap: 50px;
  z-index: 100;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #190c2f;
}

.listContainer {
  display: flex;
}

.navLinks {
  gap: 20px;
  list-style: none;
  display: flex;
  padding-top: 20px;
}

.navLinks a:link,
.navLinks a:visited {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: #d8cef0;
  transition: all 0.2s;
  font-size: 18px;
}
.navLinks a:hover {
  color: #ffe564;
}

.dropdown {
  float: left;
  overflow: hidden;
  margin-right: 25px;
  padding: 20px;
}

.dropbtn {
  display: none;
  font-size: 22px;
  border: none;
  color: #b3a2db;
  background-color: inherit;
  cursor: pointer;
}

.dropdownContent {
  position: absolute;
  right: 10%;
  display: none;
  background-color: #000000dd;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 101;
  border-radius: 18px;
}

.dropdownContent a {
  float: none;
  color: #d8cef0;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s;
}
.dropdownContent a:global(.active) {
  background-color: #1c1c1c;
  border-radius: 12px;
}

.dropdownContent a:hover:global(.active) {
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.153);
  color: #ffe564;
}
.open {
  display: block;
}

.nav a:global(.active) {
  color: #ffe564;
}

@media (min-width: 1100px) {
  .navLinks {
    gap: 45px;
  }
}

@media (max-width: 700px) {
  .nav {
    height: 55px;
  }
  .navLinks {
    display: none;
  }
  .dropbtn {
    display: block;
  }
}

@media (max-width: 600px) {
  .listContainer {
    padding: 0;
  }
}

@media (max-width: 650px) {
  .nav {
    padding: 5px 15px;
  }
}

@media (max-width: 450px) {
  .nav {
    height: 45px;
  }
  .dropbtn {
    transform: translateY(-8px);
  }
}
