.nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* background-color: #190c2f;
  border-bottom: 1px solid rgba(111, 33, 115, 0.305); */
  background: rgba(100, 66, 154, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  -webkit-backdrop-filter: blur(2.4px);
  border: 1px solid rgba(36, 20, 62, 0.35);
}
.userIcon {
  cursor: pointer;
  margin-right: 70px;
  transform: translateY(30px);
}

.searchBar {
  margin: 0 auto;
  padding: 20px;
  display: flex;
}

.inputWrapper {
  position: relative;
  width: 100%;
}

.searchBar input {
  outline: 2px solid rgba(134, 134, 134, 0.305);
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  padding: 10px 10px 10px 40px;
  border-radius: 22px;
  background-color: #190c2f;
  color: inherit;
  height: 45px;
  width: 30vw;
  box-shadow: 1px 1px 10px -11px rgba(0, 0, 0, 0.75);
}

.searchBar input:focus {
  outline: 1px solid rgba(111, 33, 115, 0.305);
}
.searchBar input::placeholder {
  color: #ffffff92;
  font-family: "SUSE", sans-serif;
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
}

.content {
  padding: 5vw 25vw;
  margin-bottom: 50px;
  margin-top: 100px;
}

.welcome {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  margin-top: 3em;
  opacity: 0.3;
  font-weight: 200;
}

.message {
  font-style: italic;
  color: #9c9e9e;
  letter-spacing: 2px;
  font-family: "SUSE", sans-serif;
}
.paginationBtns {
  display: flex;
  justify-content: space-evenly;
}

.paginationBtns button {
  width: 30%;
  height: 38px;
  margin: 5px;
  text-transform: uppercase;
  min-width: 80px;
  font-family: "SUSE", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(111, 33, 115, 1) 0%,
    rgba(18, 21, 83, 1) 86%
  );
  background-size: 200% 100%;
  background-position: 0% 0%;
  color: #d8cef0;
  cursor: pointer;
  transition: background-position 1s ease;
  border: none;
  border-radius: 25px;
  font-size: 18px;
}

@media (max-width: 500px) {
  .userIcon {
    font-size: 14px;
  }
  .message {
    font-size: 6vw;
  }
  .welcome {
    margin-top: 1.5em;
    font-size: 1em;
  }
  .searchBar {
    margin: 0 50px 0 90px;
  }
}

@media (max-width: 370px) {
  .searchBar {
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .searchBar input {
    width: 60vw;
    height: 35px;
  }
  .userIcon {
    margin-right: 20px;
    transform: translateY(24px);
  }
}
@media (max-width: 700px) {
  .searchBar input {
    width: 40vw;
  }
  .userIcon {
    margin-right: 20px;
  }
}
