/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* SUSE*/
@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  /* background-color: #1b1c3b; */
  /* background-color: #1b1c3b; */
  /* background-color: #3d087b; */

  /* background-color: #200e3f; */
  background-color: #190c2f;
  color: #d8cef0;

  /* background: rgb(46, 0, 73);
  background: radial-gradient(
    circle,
    rgba(33, 14, 73, 0.973) 0%,
    rgba(27, 18, 39, 1) 97%,
    rgb(255, 255, 255) 99%
  ); */
}

.errorMsg {
  color: rgba(190, 189, 189, 0.81);
  position: absolute;
  padding: 20px;
}
